<section class="column small-8 small-offset-2">
  <div class="wrap">
    <h1>Url Grey: a short URL generator</h1>
    <h5>Bergamotty!</h5>

    <%= render 'short_urls/controls' %>

  </div>
</section>
