<section class="column small-8 small-offset-2">
  <div class="wrap">
    <h1>New URL Shortener</h1>
    <p>This URL shortener is being built in Rails to replace our current Padrino based too.</p>
  </div>
</section>


