<% provide(:title, 'Edit user') %>

<% if current_user == @user %>
  <h2>Update your info and settings</h2>
<% else %>
  <h2>Update <%= @user.name %>'s info and settings</h2>
<% end %>

<div class="column small-6 small-offset-3 input-group">
  <%= render 'users/form' %>
</div><!-- end .column .input-group -->