<% provide(:title, 'Users') %>

<section class="users">
  <div class="callout">
    <%= link_to 'Create a user', new_user_path, class: 'button large expanded' %>
  </div>
  <ul class="">
    <%= render @users %>
  </ul>
</section>