// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
  input {
    display: block;
  }
  .button {
    width: 100%;
  }
}
.users {
  margin-top: 50px;
}
.user {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  &:hover {
    background: #ededed;
  }
  .menu li h5 a {
    padding-left: 0;
    margin-right: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}